
<ul>
  <li>Name: <%= @restaurant.name %></li>
  <li>Address: <%= @restaurant.address %>, <%= @restaurant.city %>,
    <%= @restaurant.zip_code %><br>
    </li>
    <li>Category: <%= @restaurant.category %></li>
    <li>Description: <%= @restaurant.description %></li>
</ul>
